<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BRESIL BURGER!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="shortcut icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}">
            <!-- google font -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
            <!-- fontawesome -->
            <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
            <!-- bootstrap -->
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
            <!-- owl carousel -->
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
            <!-- magnific popup -->
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <!-- animate css -->
            <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
            <!-- mean menu css -->
            <link rel="stylesheet" href="{{ asset('assets/css/meanmenu.min.css') }}">
            <!-- main style -->
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
            <!-- responsive -->
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

        {% endblock %}


    </head>
    <body >
        <!-- header -->
        <div class="top-header-area" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center">
                        <div class="main-menu-wrap">
                            <!-- logo -->
                            <div class="site-logo">
                                <a href="/">
                                    <img src="assets/img/logo.png" alt="">
                                </a>
                            </div>
                            <!-- logo -->

                            <!-- menu start -->
                            <nav class="main-menu">
                                <ul>
                                    <li class="current-list-item"><a href="/">Accueil</a></li>
                                    <li><a href="{{ path('restaurant') }}">Restaurant</a></li>
                                    <li><a href="{{ path("panier") }}">Panier</a></li>
                                    <li><a href="{{ path('checkout') }}">Mes Commandes</a></li>
                                    <li>
                                        <div class="header-icons">
                                            <a class="shopping-cart" href="{{ path("panier") }}"><i class="fas fa-shopping-cart" style="color: whitesmoke" ></i></a>
                                            {% if app.user.lastname is defined  %}
                                            <a class="mobile-hide search-bar-icon" href="{{ path("commandes") }}">
                                                {{ app.user.lastname~' '~app.user.firstname~}}</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <div class="mobile-menu"></div>
                            <!-- menu end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->

        <!-- search area -->
        <div class="search-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="close-btn"><i class="fas fa-window-close"></i></span>
                        <div class="search-bar">
                            <div class="search-bar-tablecell">
                                <h3>Search For:</h3>
                                <input type="text" placeholder="Keywords">
                                <button type="submit">Search <i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end search area -->
        {#fin hedader #}
        {% block body %}
                    {# contenu de page  #}
        {% endblock %}
        {#  footer#}


        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
                        </p>
                    </div>
                    <div class="col-lg-6 text-right col-md-12">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end copyright -->
        {% block javascripts %}

            <!-- jquery -->
            <script src="{{ asset('/assets/js/jquery-1.11.3.min.js') }}"></script>
            <!-- bootstrap -->
            <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
            <!-- count down -->
            <script src="{{ asset('assets/js/jquery.countdown.js') }}"></script>
            <!-- isotope -->
            <script src="{{ asset('assets/js/jquery.isotope-3.0.6.min.js') }}"></script>
            <!-- waypoints -->
            <script src="{{ asset('assets/js/waypoints.js') }}"></script>
            <!-- owl carousel -->
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <!-- magnific popup -->
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <!-- mean menu -->
            <script src="{{ asset('assets/js/jquery.meanmenu.min.js') }}"></script>
            <!-- sticker js -->
            <script src="{{ asset('assets/js/sticker.js') }}"></script>
            <!-- main js -->
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
